@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #fff;
  
}

:root{
  --color-text: #fcfeff;
  --body-background: #1e1e2a;
  --header-background: #000;
  --colorFormL: #74b8ec;
  --color-hover: orangered;
  --input-color: #cac7ff;
  --logo-Buscar: #58629b;
}

body{
   background: var(--body-background) ; 
   /* background-position: cover;
   background-repeat: no-repeat; */
   /* width: 100%;
  height: 100vh;
  background-color: var(--fondo); 
    background-image: url(../assets/img/merch-husey-EEZgog4AS5M-unsplash.jpg); 
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;  */
  
  

}

a:hover{
  color: var(--color-hover);
}
 /* //-----------------------------header------------------------------- */

main{
  display: flex;
  flex-direction: column; 
  
}

header{  
  font-size: 20px;
  background: var(--header-background);  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 5px 2rem;
  transition: 0.5s; 
  z-index: 997; 
  
}

.logo img{
  width: 80px;
  height: 60px;
  border-radius: 50px;
  transition: 0.5s;
}


nav{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

 .links{
  display: flex;
  gap: 2rem;
  /* border: 1px solid yellow; */
  padding: 10px;
}
.links a{
  color: var(--color-text);
}

.toggle{
  background: rgb(255, 255, 255, 0.2);
  border-radius: 60px;
  padding: 5px 20px;
  backdrop-filter: blur(4px) saturate(100%);
}

input{
  width: 10vw;
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  font-size: 20px;
  color: var(--color-text);
}

a:hover{
  color: var(--color-hover);
}

.btn i{
  width: 30px;
}

.btn{
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: var(--logo-Buscar);
  cursor: pointer;
} 

/* ------------------------Carousel----------------------------- */

.slider{
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
 
}

.slider-slides{
  display: flex;
  justify-content: center;
  top: 20px;
  position: relative;
  width: 800px;
  height: 500px;
  border: 1px solid rgb(224, 224, 249);
  box-shadow: 0 0 20px rgba(244, 243, 246, 0.8);
  border-radius: 6px;
  padding: 10px; 
}

.slider-slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img{
  height: inherit;
  width: 800px;
  object-fit: cover;
   object-position: 50% 30%; /* con estos dos codigos adaptamos el tamaño de la imagen */
}

.slider-slide.active{
  opacity: 1;
  visibility: visible;
}

/* .slider-btns{  
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
} */

/* .slider a{
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%; 
  border: thin solid #000;
  background-color: var(--body-background);
  color: #000;
  transition: all 0.3s ease;
} */

.slider a:hover{
  color: #4d4d4d;
}

/* //--------------------------------Section Card----------- */



.movies_Section{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;  
  padding: 20px;
}



.container {
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   padding: 24px;
   justify-content: center;

   
}

 .card {
  
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 10px;
  border: 1px solid rgb(224, 224, 249);
  box-shadow: 0 0 20px rgba(244, 243, 246, 0.8); 
  border-radius: 6px;
  padding: 10px;
}

.card:hover{
  transform: scale(1.1);
}

.movie {
  border: 1px solid black;
  border-radius: 6px;
  width: 200px;
}


 .btnMore {
  font-weight: 500;
  padding: 0.5rem;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  color: var(--colorLetra);
  box-shadow: 0 0 20px rgba(248, 244, 244, 0.9);
  transition: 0.5s;
} 

.btnMore:hover {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(179, 231, 8, 0.9);
  color: #162938;
  transition: 1s;
}

.buttonGroup{
  display: flex;
  gap: 10px;
}

.item{
  color: var(--color-text);
}

/* -------------------------Formulario ----------------------- */

 .wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 440px;
  background: #3d3e45 ;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(245, 242, 242, 0.5);
  overflow: hidden;
}

.wrapper .title {
  width: 100%;
  padding: 40px;
}

.title h2 {
  font-size: 2em;
  color: var(--color-text) ;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
   transform: translateY(-50%); 
  font-size: 1em;
  color: var(--colorLetra);
  font-weight: 500;
  pointer-events: none;
   transition: 5s; 
}


.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #e6e9eb;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

label input {
  accent-color: #d05214;
  margin-right: 3px;
}



.bt {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
} 